.13_8 { 
	overflow:hidden;
}
.e13_8 { 
	background-image:linear-gradient(0deg, rgba(95.5187501013279, 0, 98.81249696016312, 1) 0%,rgba(0, 0, 0, 1) 100%) ;
	width:1440px;
	height:1024px;
	position:absolute;
}
.e13_11 { 
	background-color:rgba(126.99996963143349, 12.999999225139618, 138.00000697374344, 0);
	width:1440px;
	height:190px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_12 { 
	background-color:rgba(32.00000189244747, 26.000000350177288, 41.00000135600567, 0);
	width:1440px;
	height:194px;
	position:absolute;
	left:0px;
	top:830px;
}
.e13_52 { 
	width:214px;
	height:203px;
	position:absolute;
	left:0px;
	top:-13px;
	border-top-left-radius:153.5px;
	border-top-right-radius:153.5px;
	border-bottom-left-radius:153.5px;
	border-bottom-right-radius:153.5px;
	background-image:url(images/gamify_logos_white_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_14 { 
	color:rgba(255, 255, 255, 1);
	width:68px;
	height:34px;
	position:absolute;
	left:419px;
	top:78px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e13_15 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:34px;
	position:absolute;
	left:610px;
	top:78px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e13_16 { 
	color:rgba(255, 255, 255, 1);
	width:77px;
	height:32px;
	position:absolute;
	left:833px;
	top:79px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e13_17 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:32px;
	position:absolute;
	left:1033px;
	top:79px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e13_18 { 
	color:rgba(255, 255, 255, 1);
	width:165px;
	height:42px;
	position:absolute;
	left:140px;
	top:849px;
	font-family:PT Serif;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e13_19 { 
	color:rgba(255, 255, 255, 1);
	width:275px;
	height:27px;
	position:absolute;
	left:140px;
	top:904px;
	font-family:PT Serif;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e13_20 { 
	color:rgba(255, 255, 255, 1);
	width:266px;
	height:27px;
	position:absolute;
	left:140px;
	top:944px;
	font-family:PT Serif;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e13_21 { 
	width:32px;
	height:32px;
	position:absolute;
	left:754px;
	top:888px;
	background-image:url(images/facebook_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_22 { 
	width:32px;
	height:32px;
	position:absolute;
	left:852px;
	top:888px;
	background-image:url(images/twitter_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_80 { 
	width:198px;
	height:199px;
	position:absolute;
	left:173px;
	top:376px;
	background-image:url(images/playstation_png_logo_pic_4619_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_81 { 
	color:rgba(255, 255, 255, 1);
	width:169px;
	height:53px;
	position:absolute;
	left:140px;
	top:217px;
	font-family:PT Serif;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e13_82 { 
	width:198px;
	height:198px;
	position:absolute;
	left:471px;
	top:376px;
	background-image:url(images/xbox_logo_png_2498_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_83 { 
	width:198px;
	height:103.94999694824219px;
	position:absolute;
	left:769px;
	top:423px;
	background-image:url(images/nintendo_7794_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_85 { 
	width:198px;
	height:198px;
	position:absolute;
	left:1067px;
	top:376px;
	background-image:url(images/pngwing_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_86 { 
	color:rgba(255, 255, 255, 1);
	width:178px;
	height:42px;
	position:absolute;
	left:183px;
	top:607px;
	font-family:PT Serif;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e13_87 { 
	color:rgba(255, 255, 255, 1);
	width:79px;
	height:42px;
	position:absolute;
	left:530px;
	top:607px;
	font-family:PT Serif;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e13_88 { 
	color:rgba(255, 255, 255, 1);
	width:145px;
	height:42px;
	position:absolute;
	left:795px;
	top:607px;
	font-family:PT Serif;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e13_89 { 
	color:rgba(255, 255, 255, 1);
	width:42px;
	height:42px;
	position:absolute;
	left:1145px;
	top:607px;
	font-family:PT Serif;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
a{
	position:relative;
		text-decoration:none;
		text-align:center;
		color:white;
	}
	a::after{
		content:"";
		width:0;
		height:1px;
		left:30%;
		display:block;
		position:absolute; 
		background-color:violet;
		transition:width 0.3s,left 0.2s;
	}
	a:hover::after{
		width:100%;
		left:0%;
	}