.13_54 { 
	overflow:hidden;
}
.e13_54 { 
	background-image:linear-gradient(0deg, rgba(95.5187501013279, 0, 98.81249696016312, 1) 0%,rgba(0, 0, 0, 1) 100%) ;
	width:1440px;
	height:1024px;
	position:absolute;
}
.e13_55 { 
	background-color:rgba(126.99996963143349, 12.999999225139618, 138.00000697374344, 0);
	width:1440px;
	height:190px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_56 { 
	width:214px;
	height:203px;
	position:absolute;
	left:0px;
	top:-13px;
	border-top-left-radius:153.5px;
	border-top-right-radius:153.5px;
	border-bottom-left-radius:153.5px;
	border-bottom-right-radius:153.5px;
	background-image:url(images/gamify_logos_white_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_57 { 
	background-color:rgba(32.00000189244747, 26.000000350177288, 41.00000135600567, 0);
	width:1440px;
	height:194px;
	position:absolute;
	left:0px;
	top:830px;
}
.e13_58 { 
	color:rgba(255, 255, 255, 1);
	width:68px;
	height:34px;
	position:absolute;
	left:419px;
	top:78px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e13_59 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:34px;
	position:absolute;
	left:610px;
	top:78px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e13_60 { 
	color:rgba(255, 255, 255, 1);
	width:77px;
	height:32px;
	position:absolute;
	left:833px;
	top:79px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e13_61 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:32px;
	position:absolute;
	left:1033px;
	top:79px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e13_62 { 
	color:rgba(255, 255, 255, 1);
	width:165px;
	height:42px;
	position:absolute;
	left:140px;
	top:849px;
	font-family:PT Serif;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e13_63 { 
	color:rgba(255, 255, 255, 1);
	width:275px;
	height:27px;
	position:absolute;
	left:140px;
	top:904px;
	font-family:PT Serif;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e13_64 { 
	color:rgba(255, 255, 255, 1);
	width:266px;
	height:27px;
	position:absolute;
	left:140px;
	top:944px;
	font-family:PT Serif;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e13_65 { 
	width:32px;
	height:32px;
	position:absolute;
	left:754px;
	top:888px;
	background-image:url(images/facebook_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_66 { 
	width:32px;
	height:32px;
	position:absolute;
	left:852px;
	top:888px;
	background-image:url(images/twitter_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_103 { 
	color:rgba(255, 255, 255, 1);
	width:128px;
	height:53px;
	position:absolute;
	left:140px;
	top:215px;
	font-family:PT Serif;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e13_127 { 
	color:rgba(255, 255, 255, 1);
	width:128px;
	height:53px;
	position:absolute;
	left:140px;
	top:215px;
	font-family:PT Serif;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e13_114 { 
	width:257px;
	height:236px;
	position:absolute;
	left:121px;
	top:394px;
	border-top-left-radius:158px;
	border-top-right-radius:158px;
	border-bottom-left-radius:158px;
	border-bottom-right-radius:158px;
	background-image:url(images/cyberpunk_2077_box_art_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_115 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:81px;
	position:absolute;
	left:172px;
	top:681px;
	font-family:PT Serif;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e13_132 { 
	color:rgba(255, 255, 255, 1);
	width:129px;
	height:81px;
	position:absolute;
	left:477px;
	top:681px;
	font-family:PT Serif;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e13_137 { 
	color:rgba(255, 255, 255, 1);
	width:129px;
	height:81px;
	position:absolute;
	left:781px;
	top:681px;
	font-family:PT Serif;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e13_140 { 
	color:rgba(255, 255, 255, 1);
	width:317px;
	height:81px;
	position:absolute;
	left:1013px;
	top:681px;
	font-family:PT Serif;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e13_130 { 
	width:305px;
	height:255px;
	position:absolute;
	left:389px;
	top:384px;
	border-top-left-radius:167px;
	border-top-right-radius:167px;
	border-bottom-left-radius:167px;
	border-bottom-right-radius:167px;
	background-image:url(images/kylian_mbapp__unveiled_as_fifa_22_cover_star_for_second_year_running_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_135 { 
	width:257px;
	height:261.5087585449219px;
	position:absolute;
	left:720px;
	top:384px;
	border-top-left-radius:128.5px;
	border-top-right-radius:128.5px;
	border-bottom-left-radius:128.5px;
	border-bottom-right-radius:128.5px;
	background-image:url(images/stray_button_fin_1654302178065_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_139 { 
	width:257px;
	height:267.38385009765625px;
	position:absolute;
	left:1043px;
	top:381px;
	border-top-left-radius:128.5px;
	border-top-right-radius:128.5px;
	border-bottom-left-radius:128.5px;
	border-bottom-right-radius:128.5px;
	background-image:url(images/egs_marvelsspidermanremastered_insomniacgamesnixxessoftware_s2_1200x1600_76424286902489f4d9639ac9b735c2b2_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
a{
	position:relative;
		text-decoration:none;
		text-align:center;
		color:white;
	}
	a::after{
		content:"";
		width:0;
		height:1px;
		left:30%;
		display:block;
		position:absolute; 
		background-color:violet;
		transition:width 0.3s,left 0.2s;
	}
	a:hover::after{
		width:100%;
		left:0%;
	}